.juj-jj {
    width: 100px;

}
.uuu-ff {
    color: rgb(36, 36, 70);
    font-size: large;
    font-weight: bold;
    
}
.mm-kk {
    font-weight: bold;
    margin-left: 1000px;
    margin-bottom: 0;
    
    
    
}
.kk-mm {
    margin-left: 1000px ;
    width: 50PX;
    margin-top: 0;

       
}
.gg-hh {
    font-weight: bold;
    margin-bottom: 0;

}
.jj-mm {
    width: 1000px;
}
.bb-bb {
    font-weight: bold;
    margin-bottom: 0;

}

.inp {
    width: 1000px;
}

.btn {
    margin-top: 50px;
    width: 800px;
    background-color: rgb(48, 48, 136);
    color: #fff;
}